
body {
    color: black;
    background-color: #ffcf79;
    font-family: Georgia, Arial, Geneva, Arial Black;
}

h1 {
    text-decoration: underline;
}

p {
    color: black;
    background-color: #e5e4d7;
    line-height: 1.5em;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    /* background-image: url(p_background.jpg); */;
}

#form-field {
    color: red;
    line-height: 1.5em;
}

a:link {
    color: red;
}

a:visited {
    color: #8c8c9d;
}

a:hover {
    color: #ffffff;
}


