<!doctype html>


<head>
    <title> Login </title>

    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">

</head>


{% block title %} <strong style="text-decoration: underline;"> Sign in Here </strong> {% endblock%}




{% load crispy_forms_tags %}

{% block content %}

<body>
    <br>
    <br>
    <form method="POST" class="form-group"> {% csrf_token %}

            {{ form.as_table }}
            <br>
            <br>
            {% for message in messages %}
            {% if messages %}
            <div class=" alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}

        <button type="submit" class="btn btn-success"> Login </button>
        <br>
        <br>
        <br>
        <span style= "font-size: 15px; line-height: 1.5em; background-color: #ffcf79; padding: 10px; margin: 25px; border: black medium inset; border-radius: 10px;"> Click <a href="/register" > here </a> to Register </span>
        <span style= "font-size: 15px; line-height: 1.5em; background-color: #ffcf79; padding: 10px; margin: 25px; border: black medium inset; border-radius: 10px;"> Click <a href="/account-list" > here </a> for user list </span>
     </form>
</body>

{% endblock %}


