<!doctype html>


<head>
    <title> Login </title>

    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">

</head>


{% block title %} <strong style="text-decoration: underline;"> Sign in Here </strong> {% endblock%}




{% load crispy_forms_tags %}

{% block content %}

<body>
    <br>
    <br>
    <form method="POST" class="form-group">
        {% csrf_token %}

            {{ form.as_table }}
            <br>
            <br>
            {% for message in messages %}
            {% if messages %}
            <div class=" alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}

        <button type="submit" class="btn btn-success"> Login </button>
        <br>
        <br>
        <a href="/register" > Click here to register </a>
        <br>
        <br>
        <a href="/account-list" > Click here for user list </a>
    </form>
</body>

{% endblock %}


