<head>

  <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">

</head>

<body>

{% block content %}

{% for instance in object_list %}

	<p><strong> Model id: </strong> {{ instance.id }} </p>
	<p><strong> Username: </strong> {{ instance.first_name }} </p>
	<p><strong> Email: </strong> {{ instance.email }} </p>
	<p><strong> Password: </strong> {{instance.password}} </p>
	
  <br>
  <br>

{% endfor %}

	<span style= "font-size: 15px; line-height: 1.5em; background-color: #ffcf79; padding: 10px; margin: 25px; border: black medium inset; border-radius: 10px;"> Click <a href="/login" > here </a> to Login </span>

 	<span style= "font-size: 15px; line-height: 1.5em; background-color: #ffcf79; padding: 10px; margin: 25px; border: black medium inset; border-radius: 10px;"> Click <a href="/register" > here </a> to Register </span>

{% endblock %}

</body>
